*{
  padding: 0;
  margin: 0;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  position: relative;
  margin: 0;
  display: flex;

}

.header__logo {
  position: absolute;
}
.logo_palce_header {
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 3;
}
.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  padding-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
}
.header__suptitle {
width: 388px;
position: absolute;
left: 64px;
bottom: 30px;
font-size: 18px;
line-height: 25px;
font-weight: normal;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  
}

.two-colums {
  display: flex;
 justify-content: space-between;
 margin: 100px;

}
.two-colums__brief {
  column-width: 175px;
  display: block;
  width: 175px;
  line-height: 1,2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-colums__main-text {
  width: 80%;
  min-width: 784px;
  display: block;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-colums__paragraph{
  padding-bottom: 30px;

}
.two-colums__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-suptitle {
  display: block;
  width: 60%;
  margin: 0 auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  margin: 0 auto 100px;
}

.table__cell {
  display: block;
  width: 250px;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 60px;
  
}
.table__cell_text {
  display: block;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.table__cell_heading {
  display: block;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.feynman {
  background: #f2f2f2;
  position: relative;
  min-height: 900px;
}

.feynman__title {
  text-align: center;
  margin: auto;
  padding-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
  position: relative;
}
.feynman__subtitle {
  position: relative;
  padding-top: 70px;;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  text-align: center;
  display: block;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
 
}
.feynman__image {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 864px;
  height: 637px;
}

.kaufman {
  position: relative;
  overflow: hidden;
  background: #1f1f1f;
}
.kaufman__image {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -230px;
}

.section-title_theme_dark {
  display: block;
  width: 60%;
  text-align: center;
  margin: 90px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.section-suptitle_theme_dark {
color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 3;
}

.footer {
  background: #1f1f1f;

}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
  padding: 60px 0 40px;
  min-height: 350px;
  color: white;
  position: relative;
  width: 90%;
  flex-basis: 711px;
  
}
.footer__column_copyright {
  display: block;
  position: relative;
  width: 45%;
}
.footer__columns_content_info {
  display: block;
  margin-left: 10px;

}
.footer__columns_content_social {
  display: block;
}

.footer_logo {
  width: 228px;
  height: 32px;
}
.footor__author {
  display: block;
  width: 230px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  bottom: 18px;
  position: absolute;

}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;

}

.footer__columns_links {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
 
}
.footer__columns_links a {
  text-decoration: none;
  color: white;

}
.footer__column-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}